#At every minute past every hour from 20 through 23 on every day-of-week from Sunday through Thursday.
* 20-23 * * 0-4 ~/bedtime.sh> cron.log 2>&1

#At every minute past every hour from 0 through 6 on every day-of-week from Sunday through Thursday.
* 0-6 * * 0-4 ~/bedtime.sh> cron.log 2>&1
